body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.page {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  color: #000000;
}

.site-page {
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 44px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*!
  * ===========================================================
  * HEADER SECTION
  * ===========================================================
  */
.main-header {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 9px 0 10px 0;
}

.main-navigation {
  margin-left: 8px;
}

.site-navigation {
  margin: 14px 0px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation li {
  list-style: none;
}

.site-navigation .navigation-item{
  margin-right: 4px;
}

.site-navigation a {
  padding: 7px 15px;
  color: #ffffff;
  background-color: transparent;
  list-style: none;
  text-decoration: none;
  display: block;
}

.site-navigation .site-navigation-item {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation-item:hover {
  border-radius: 25px;
}

.site-navigation-item:active {
  box-shadow: inset 0px 2px 1px #696969;
}

.site-navigation a:hover {
  background-color: #ffffff;
  color: #323232;
  list-style: none;
}

.site-navigation a:active {
  background: #ededed;
}

.site-navigation > li {
  position: relative;
}

.catalog-sub-menu li,
.catalog-sub-menu a {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sub-menu {
  color: #323232;
  z-index: 10;
  display: none;
  width: 143px;
  height: 171px;
  padding: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-sub-menu a {
  margin: 0;
  padding: 6px 20px 6px 21px;
  color: #323232;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border-radius: 0;
}

.catalog-sub-menu li {
  padding: 2px 0;
}

.catalog-sub-menu li:first-child {
  padding: 10px 20px 12px 21px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.catalog-sub-menu li:first-child:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 7px;
  width: 128px;
  height: 1px;
  background-image: url("../img/catalog-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-sub-menu li:hover a {
  background-color: #fbded8;
}

.catalog-sub-menu li a:active {
  background-color: #f6b5a5;
}

.site-navigation > li:hover .catalog-sub-menu {
  display: block;
}

.user-navigation {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 14px 0px;
  margin-left: auto;
}

.user-navigation a:hover {
  background-color: #ffffff;
  color: #000000;
}

.find {
  position: relative;
}

.find button {
  padding: 6px 7px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  position: relative;
  border: none;
}

.find button:hover {
  background-color: #ffffff;
}

.find button:hover path,
.find button:focus path {
  fill: #000000;
}

.find-popup {
  width: 341px;
  height: 84px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  top: 5px;
  right: 0px;
  position: absolute;
  z-index: 20;
  display: none;
  box-sizing: border-box;
}

.find-popup input {
  margin: 0;
  padding: 0;
  padding: 12px 14px;
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  outline-color: rgba(46, 136, 228, 0.52);
  border-radius: 4px;
  box-sizing: border-box;
}

.find-popup input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}


.find:hover .find-popup {
  display: block;
}

.login {
  position: relative;
  margin: 0 10px;
}

.login-link {
  padding: 9px 16px 7px 45px;
  position: relative;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
  text-decoration: none;
  display: block;
  border-radius: 25px;
}

.login-link svg {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
}

.login-link:hover svg path {
  fill: #000000;
}

.login {
  position: relative;
}

.login-popup {
  width: 277px;
  height: 214px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background: #f8f7f4;
  padding: 20px 18px;
  border-radius: 4px;
  position: absolute;
  display: none;
  top: 5px;
  right: 0px;
  z-index: 20;
  box-sizing: border-box;
}

.login-popup input {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 12px 15px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  outline-color: rgba(46, 136, 228, 0.52);
}

.login-popup input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.button-login {
  font-family: "Roboto", Arial, sans-serif;
  padding: 0px 26px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.links-container {
  height: 44px;
  display: flex;
}

.login-popup-links a {
  padding: 0;
  margin: 0;
  width: 120px;
  display: inline-block;
  vertical-align: top;
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  margin-bottom: -3px;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.302);
}

.login-popup-links {
  width: 120px;
  background: transparent;
}

.login-popup-links a:hover,
.login-popup-links a:active,
.login-popup-links a:focus {
  color: #e84d37;
  background-color: transparent;
  text-decoration-color: rgba(232, 77, 55, 0.302);
}

.login:hover .login-popup {
  display: block;
}

.basket {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.basket a {
  padding: 9px 16px 7px 45px;
  position: relative;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
  text-decoration: none;
  display: block;
  border-radius: 25px;
}

.basket-text svg{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-color: transparent;
}

.basket-text:hover svg g{
  fill: #000000;
}

.catalog-sub-menu-wrapper{
  position: absolute;
  top: 32px;
  left: -6px;
  padding-top: 5px;
  z-index: 10;
}

.find-popup-wrapper {
  position: absolute;
  top: 30px;
  right: 0px;
  padding-top: 5px;
  z-index: 10;
}

.login-popup-wrapper {
  position: absolute;
  top: 30px;
  right: 0px;
  padding-top: 5px;
  z-index: 10;
}

.basket-popup-wrapper{
  position: absolute;
  top: 30px;
  right: 0px;
  padding-top: 5px;
  z-index: 10;
}
/*!
  * ===========================================================
  * SLIDESHOW SECTION
  * ===========================================================
  */
.slider-show {
  min-height: 540px;
  position: relative;
  margin-bottom: 24px;
}

.site-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-catalog {
  width: 100%;
  margin: auto;
  padding: 0;
  color: #000000;
  background-color: #849d8f;
  background-repeat: repeat;
  background-position: 0 0;
}

.site-wrapper-1 {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

.site-wrapper-2 {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

.site-wrapper-3 {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

.slider-container {
  width: 900px;
  margin-left: 27px;
  position: absolute;
  top: 310px;
  left: 100px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-item {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  display: none;
}

.slider-current {
  display: block;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  padding: 5px 0 26px 3px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.slider-button {
  margin: 0;
  margin-left: 8px;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 38px;
  z-index: 9;
  font-size: 0;
}

.slider-controls button {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider-controls .current {
  background-color: #ffffff;
}

.slider-controls button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.slider-controls button:active {
  background: rgba(255, 255, 255, 1);
}

.phone-number {
  width: 168px;
  position: absolute;
  text-align: right;
  top: 76px;
  right: 27px;
  z-index: 9;
}

.phone-number p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  z-index: -1;
}

.phone-number a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 8px;

}
/*!
  * ===========================================================
  * PRODUCTS SECTION
  * ===========================================================
  */
.products {
  color: #ffffff;
  margin-bottom: 5px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-item {
  margin-bottom: 35px;
  width: 267px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-item img {
  border-radius: 50%;
}

.hit {
  position: relative;
}

.hit:before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  bottom: 65px;
  left: 0px;
}

.currency-weight:before {
  position: absolute;
  content: "";
  position: absolute;
  width: 30px;
  height: 35px;
  top: 4px;
  left: 89px;
  background-image: url("../img/ruble.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.currency-weight {
  padding-left: 43px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.product-item a {
  padding: 0;
  padding-top: 13px;
  margin: 0;
  width: 267px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.product-item a:hover,
.product-item a:active {
  color: #FFBC9E;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.preview {
  display: none;
  position: absolute;
  bottom: -75px;
  left: -4.86%;
  width: 100%;
  height: 105%;
  padding: 20px 4.86%;
  padding-bottom: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.product-item:hover .preview {
  display: block;
}

.preview button {
  margin-top: 323px;
  z-index: 2;
}

.product-item:hover .preview,
.product-item:focus .preview,
.product-item:hover .preview button,
.product-item:focus .preview button {
  opacity: 1;
}

.product-item:hover,
.product-item:focus {
  z-index: 1;
}
/*!
  * ===========================================================
  *  SECTION BLOCKS
  * ===========================================================
  */


.seo {
  margin-bottom: 40px;
  padding: 24px 23px 31px 20px;
  text-align: left;
  background-image: url("../img/seo-backgrond.png");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  margin-bottom: 40px;
  
}

.seo h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.text {
  margin: 0;
  padding: 0;
  padding-left: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.text li {
  color: #3c2f29;
  position: relative;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 16px;
}

.text li:nth-child(3),
.text li:nth-child(4){
  padding-top: 22px;
}

.text li:first-child::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: -55px;
  top: 7px;
  background-image: url("../img/icecream.svg");
  background-repeat: no-repeat;
  background-position: 0 0px;
}
.text li:nth-child(2):before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: -57px;
  top: 7px;
  background-image: url("../img/cow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.text li:nth-child(3):before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: -55px;
  top: 13px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.text li:last-child:before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: -57px;
  top: 13px;
  background-image: url("../img/termo.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
/*!
  * ===========================================================
  *  SECTION CARDS
  * ===========================================================
  */
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}

.card {
  width: 560px;
  border-radius: 16px;
  padding: 16px 22px 22px 16px;
  text-align: left;
  box-sizing: border-box;
}

.card h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 17px;
  box-sizing: border-box;
  width: 100%;
}

.card p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding-bottom: 41px;
  box-sizing: border-box;
}

.card-raspberry {
  background: #9f0625;
  color: #ffffff;
  background-image: url("../img/raspberry.jpg");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.card-chocolate {
  background: #260c00;
  color: #ffffff;
  background-image: url("../img/chocolate.jpg");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 24px;
}

.card-button {
  float: right;
  padding: 12px 22px;
}

.news {
  background-image: url("../img/blog-background.jpg");
  color: #323232;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 18px;
}

.news p {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  width: 100%;
}

.news a {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: underline;
  width: 287px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.2);
}

.news a:hover,
.news a:focus,
.news a:active {
  color: #e84d37;
  -webkit-text-decoration-color: rgba(232, 77, 55, 0.302);
  text-decoration-color: rgba(232, 77, 55, 0.302);
}

.email {
  padding: 16px 16px 22px 22px;
  background: #f8f7f3;
  border: 5px solid transparent;
  border-image-source: url("../img/mail-border.png");
  border-image-slice: 5;
}

.email p {
  color: #5b5a56;
  margin: 0;
  width: 100%;
  padding: 8px 0 40px 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  box-sizing: border-box;
}

.email input {
  width: 368px;
  height: 44px;
  padding: 9px 14px;
  margin-bottom:12px;
  border-radius: 5px;
  outline-color: rgba(46, 136, 228, 0.52);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.email button {
  padding: 10px 19px;
  margin-left: 7px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.email input::placeholder {
  color: #999999;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/*!
  * ===========================================================
  * MAP SECTION
  * ===========================================================
  */
.map {
  margin-top: 42px;
}

.map iframe {
  border: 0;
  width: 100%;
  height: 430px;
}

.map .site-page{
  position: relative;
}

.contacts-block {
  background: #ffffff;
  width: 303px;
  position: absolute;
  top: -375px;
  right: 27px;
  z-index: 1;
  border-radius: 16px;
  padding: 30px 25px 30px 25px;
  box-sizing: border-box;
}

.contacts-block-button {
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0;
}

.contacts-block p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.contacts-block p:nth-last-of-type(3) {
  padding-bottom: 20px;
}

.contacts-block p:nth-last-of-type(2) {
  padding-bottom: 2px;
}

.contacts-block p:last-of-type {
  padding-bottom: 25px;
}

.contacts-address b {
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone{
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #323232;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 2px;
}
/*!
  * ===========================================================
  * FOOTER SECTION
  * ===========================================================
  */
.footer {
  margin: 0;
  padding: 0;
  min-height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  display: grid;
  grid-template-columns: 166px 350px 190px;
}

.footer-social li,
ul,
a,
.about-company li,
a {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}

.footer-social {
  margin: 0;
  min-height: 39px;
  text-align: center;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social li {
  display: inline-block;
}

.social-button svg {
  opacity: 0.8;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.footer-social a:hover svg,
.footer-social a:focus svg {
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.footer-social a:active svg {
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.about-company {
  display: flex;
  height: 48px;
  width: 304px;
  flex-wrap: wrap;
  margin: auto 0;
  padding-left: 38px;
}

.about-company li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.about-company a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.about-company li:first-child a {
  font-weight: 700;
  position: relative;
}

.about-company li:first-child a::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about-company li:nth-child(2) a {
  padding-left: 32px;
}

.about-company li:nth-child(4) a {
  padding-left: 44px;
}

.about-company a:hover,
.about-company a:active,
.about-company a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  height: 60px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 10px;
}

.footer-copyright-logo {
  display: block;
}

.footer-copyright a:hover,
.footer-copyright a:active,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.footer-copyright p {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  padding-top: 2px;
}
/*!
  * ===========================================================
  * FEEDBACK POPUP SECTION
  * ===========================================================
  */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay-show {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 110px;
  left: 50%;
  margin-left: -237px;
  padding: 15px 25px 27px 24px;
  width: 477px;
  background: #f8f7f4;
  border-radius: 6px;
  z-index: 11;
}

.popup-show {
  display: block;
}

.popup-error {
  animation: shake 0.6s;
}

.popup h2,
label,
input,
p {
  margin: 0;
  padding: 0;
}

.popup h2 {
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.popup label {
  color: rgb(153, 153, 153);
  text-align: left;
  color: #92c1f1;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}

.user-name,
.user-email,
.user-message {
  width: 267px;
  height: 44px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(178, 178, 178);
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.user-message {
  width: 428px;
  padding-top: 10px;
  height: 154px;
}

.feedback-form p {
  position: relative;
}

.feedback-form label {
  position: absolute;
  top: -20px;
  left: 15px;
}

.feedback-form input[type="text"]::placeholder,
.feedback-form input[type="email"]::placeholder,
.feedback-form input[type="password"]::placeholder,
.feedback-form textarea::placeholder {
  color: #999999;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px; 
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form input[type="password"],
.feedback-form textarea {
  padding: 7px 14px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  outline-color: rgba(46, 136, 228, 0.52);
}

.feedback-form textarea {
  padding: 10px 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 18px;
  height: 17px;
  font-size: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup-close::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 17px;
  background-image: url("../img/close-cross.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.popup button {
  font-family: "Roboto", Arial, sans-serif;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}
/*!
  * ===========================================================
  * CATALOG HEADER SECTION
  * ===========================================================
  */
.catalog-sub-menu .catalog-sub-menu-current {
  background-color: #d07058;
  padding: 6px 20px 6px 20px;
  color: #ffffff;
  text-decoration: none;
}

.page-current .current {
  margin-right: 4px;
  padding: 7px 15px;
  color: #ffffff;
  background-color: #d07058;
  border-radius: 25px;
  text-decoration: none;
}

.basket .basket-full {
  background-color: #fff;
  color: #323232;
}

.basket-full {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #fff;
}

.basket-full svg{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-color: transparent;
}

.basket {
  position: relative;
}

.basket-popup {
  position: absolute;
  width: 539px;
  height: 242px;
  top: 5px;
  right: 0;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 20;
  display: none;
  padding: 20px 14px 20px 12px;
  box-sizing: border-box;
}

.basket:hover .basket-popup {
  display: block;
}

.basket-products {
  border-bottom: 1px solid #cacac7;
}

.basket-products p {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}

.basket-products p:first-of-type{
  width: 220px;
}

.basket-products li {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 0 0 20px 0;
}

.basket-products li:last-child{
  padding-bottom: 23px;
}

.basket-products li:last-child .product-name{
  margin-bottom: -15px;
}

.basket-button-delete {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.basket-button-delete:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 0px;
  left: 0px;
  background-image: url("../img/close-cross-small.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.basket-products img {
  margin-left: 30px;
  margin-right: 13px;
  border-radius: 50%;
}

.weight-price {
  padding-left: 27px;
}

.final-price {
  padding-left: 25px;
}

.price-for-kg {
  color: #a0a09f;
}

.total {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}

.basket-button {
  float: right;
  padding: 13px 15px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

/*!
 * ===========================================================
 * CATALOG BREADCRUMBS SECTION
 * ===========================================================
 */
 .breadcrumbs-nav{
  margin: 10px 0 2px 0;
 }

 .breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.breadcrumbs li {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 12px;
}

.breadcrumbs li:first-child {
  margin-left: 0px;
}

.breadcrumbs a {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: none;
}

.breadcrumbs-current {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 15px;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs li:first-child,
.breadcrumbs li:nth-child(2) {
  position: relative;
}

.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after {
  content: "»";
  position: absolute;
  right: -15px;
}

.breadcrumbs a,
.breadcrumbs li {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs a {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: rgba(255, 188, 158, 0.3);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.container-catalog h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin-bottom: 28px;
}
/*!
 * ===========================================================
 * CATALOG FILTERS SECTION
 * ===========================================================
 */

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding-bottom: 5px;
  padding-left: 16px;
}

.catalog-filter {
  margin-bottom: 40px;
}

.catalog-filter label,
.catalog-filter legend {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-wrapper-1 .select {
  width: 196px;
  height: 36px;
  border-radius: 20px;
}

.filter-wrapper-1,
.filter-wrapper-2 {
  display: flex;
  justify-content: space-between;
  width: 869px;
}

.filter-wrapper-1 {
  margin-bottom: 13px;
}
/*!
 * ===========================================================
 * CATALOG FILTERS - filter sorting SECTION
 * ===========================================================
 */

.filter-sorting .select {
  padding-left: 17px;
  padding-bottom: 2px;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.select option {
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.catalog-filter select::-ms-expand {
  display: none;
}

.catalog-filter select:hover {
  color: #323232;
}

.catalog-filter select:focus {
  background-color: #ffffff;
  color: #323232;
}

.catalog-filter select {
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/arrow.png");
  background-position: 170px 12px;
  background-repeat: no-repeat;
}

.catalog-filter select:hover,
.catalog-filter select:focus {
  background-image: url("../img/arrow-b.png");
}

/*!
 * ===========================================================
 * CATALOG FILTERS - filter price SECTION
 * ===========================================================
 */

 .filter-price .left-price{
   padding-right: 15px;
 }

.range-controls {
  position: relative;
  width: 218px;
  height: 20px;
  border-radius: 20px;
  padding-top: 16px;
  background-color: #f1f1f1;
}

.range-line {
  width: 176px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  position: relative;
}

.range-line-selected {
  position: absolute;
  top: 0px;
  left: 33px;
  right: 67px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.toggle {
  position: absolute;
  top: 7px;
  left: -8px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 130px;
}

/*!
 * ===========================================================
 * CATALOG FILTERS - fat filter SECTION
 * ===========================================================
 */
 .fat-filter{
  box-sizing: border-box;
 }

.fat-filter ul {
  margin: 0;
  padding: 0;
  width: 425px;
  height: 36px;
  display: flex;
  border-radius: 20px;
  padding: 7px 17px 7px 47px;
  box-sizing: border-box;
  justify-content: space-between;
}

.fat-filter li {
  position: relative;
}

.fat-filter label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -32px;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.filter-input-radio:checked +  label::after {
  content: "";
  position: absolute;
  left: -25px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-image: url("../img/dot.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/*!
 * ===========================================================
 * CATALOG FILTERS - filler filter SECTION
 * ===========================================================
 */
.filler-filter ul {
  margin: 0;
  padding: 0;
  width: 711px;
  height: 36px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 7px 19px 8px 48px;
}

.filler-filter label {
  position: relative;
}

.filler-filter legend {
  padding-bottom: 9px;
}

.filter-option label {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filler-filter li:nth-child(2){
  margin-left: -4px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.filter-input:disabled label {
  opacity: 0.2;
}

.catalog-filter fieldset {
  border: none;
}

.catalog-filter select,
.range-controls,
fieldset ul {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-option label:hover,
.filter-option label:focus {
  color: #ffffff;
}

.filter-option label:hover::before,
.filter-option label:focus::before,
.filter-option label:hover::after,
.filter-option label:focus::after,
.filter-option input:focus + label::before,
.filter-option input:focus + label::after {
  border-color: #ffffff;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after {
  border-color: #b5c4bc;
}

.filter-button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-self: flex-end;
  width: 143px;
  height: 36px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #a6b7ae;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #fbfcfb;
  color: #323232;
}

/*!
 * ===========================================================
 * CATALOG PAGINATION SECTION
 * ===========================================================
 */
.paginator {
  padding: 40px 0 31px 0;
  text-align: right;
}

.pagination ul,
li,
a {
  padding: 0;
  margin: 0;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.pagination li {
  display: inline;
  flex-direction: row;
  margin-left: 3px;
  margin-right: 1px;
}

.pagination li:first-child {
  margin-right: 2px;
}

.pagination li:nth-child(3){
  margin-left: 0px;
}

.pagination li:last-child {
  margin-right: -7px;
  margin-left: 4px;
  padding: 0;
}

.pagination a {
  padding: 4px 9px;
  border-radius: 15px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.disabled a {
  pointer-events: none;
}

.pagination a:hover,
.pagination a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination li:last-child:hover a,
.pagination a:last-child:focus a {
  background-color: transparent;
}

.pagination a:active {
  background-color: #ffffff;
  color: #323232;
}

.pagination-current a {
  background-color: #ffffff;
  color: #323232;
}

.site-wrapper-catalog .footer-catalog {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 5px;
} 


.site-wrapper-catalog .products-list li:nth-child(5) a{
  width: 240px;
} 

.site-wrapper-catalog .products-list li:nth-child(9) a{
  width: 240px;
}

.site-wrapper-catalog .footer-copyright{
  padding-top: 13px;
}

.site-wrapper-catalog .about-company{
  padding-top: 3px;
}

